<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="blogMapper">
	<resultMap type="Blog" id="BlogResultSet">
	 <id property="bId" column="BID"/>
	 
	 <result property="bWriter" column="BWRITER" />
	 <result property="bTitle" column="BTITLE" />
	 <result property="bContent" column="BCONTENT" />
	 <result property="bAddress" column="BADDRESS" />
	 <result property="bAddressH" column="BADDRESSH" />
	 <result property="bCreateDate" column="B_CREATE_DATE" />
	 <result property="bModifyDate" column="B_MODIFY_DATE" />
	 <result property="bViews" column="B_VIEWS" />
	 <result property="bLikes" column="B_LIKES" />
	 <result property="bStatus" column="B_STATUS" />
	 <result property="bCode" column="BCODE" />
	 <result property="bOriginalFile" column="B_ORIGINAL_FILE"/>
	 <result property="bModifyFile" column="B_MODIFY_FILE"/>
	 <result property="category" column="BNAME"/>
	 <result property="bTel" column="BTEL"/>
	 <result property="bFee" column="BFEE"/>
	 <result property="bHours" column="BHOURS"/>
	 <result property="bTrans" column="BTRANS"/>
	 <result property="bFileStatus" column="BFILE_STATUS"/>
	</resultMap>
	
	<!-- <resultMap type="TReply" id="themeReplyResultSet">
		<id property="trId" column="TRID"/>
		
		<result property="trId" column="TRID"/>
		<result property="trContent" column="TRCONTENT"/>
		<result property="refTid" column="REF_TID"/>
		<result property="trWriter" column="TRWIRTER"/>
		<result property="trCreateDate" column="TR_CREATE_DATE"/>
		<result property="trModifyDate" column="TR_MODIFY_DATE"/>
		<result property="trStatus" column="TR_STATUS"/>
	
	</resultMap> -->
	
	<resultMap type="BFile" id="BFileResultSet">
		<id property="bCodeNumber" column="BID"/>
		
		<result property="bOriginalFile" column="B_ORIGINAL_FILE"/>
		<result property="bModifyFile" column="B_MODIFY_FILE"/>
	
	</resultMap>
	
	<resultMap type="BName" id="BCategoryResultSet">
		<id property="bCode" column="BCODE" />
		
		<result property="bName" column="BNAME"/>	
	</resultMap>

	<select id="getBNum" resultType="_int">
		SELECT LAST_NUMBER FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'SEQ_BNO'
	</select>
	
	<insert id="insertImg" parameterType="BFile">
		INSERT INTO BLOG_FILES VALUES(#{bCodeNumber},#{bOriginalFile},#{bModifyFile})
	</insert>
	
	<select id="getBCount" resultType="_int">
		SELECT COUNT(*) FROM BLOG_FILES WHERE BID = #{bCodeNumber}
	</select>
	
	<update id="updateImg" parameterType="BFile">
		UPDATE BLOG_FILES SET B_ORIGINAL_FILE 
		= B_ORIGINAL_FILE ||','|| #{bOriginalFile}, 
		B_MODIFY_FILE = B_MODIFY_FILE ||','|| #{bModifyFile}
		WHERE BID = #{bCodeNumber}
	</update>
	
	<insert id="insertBlog" parameterType="Blog">
		INSERT INTO BLOG_LIST VALUES(SEQ_BNO.NEXTVAL,#{bWriter},#{bTitle},
		#{bContent},NVL(#{bAddress},' '),NVL(#{bAddressH},' '),DEFAULT,DEFAULT,DEFAULT,DEFAULT,
		DEFAULT,NVL(#{bTel},' '),NVL(#{bFee},' '),NVL(#{bHours},' '),NVL(#{bTrans},' '),#{bCode},#{bFileStatus})
	</insert>
		
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BLOG_LIST
		JOIN BCATEGORY USING(BCODE)
		WHERE B_STATUS='Y' 
		<if test="keyword != null">
		AND BNAME=#{keyword}
		</if>
	</select>
	
	<select id="selectList1" resultMap="BlogResultSet">
		SELECT *
		FROM BLOG_LIST
		JOIN BCATEGORY USING(BCODE)
		WHERE B_STATUS='Y'
	<if test="keyword == null">		
		ORDER BY BID DESC
	</if>
	<if test="keyword != null">
		AND BNAME=#{keyword}
		ORDER BY BID DESC
	</if>
	</select>
	<select id="selectList2" resultMap="BlogResultSet">
		SELECT *
		FROM BLOG_LIST
		JOIN BCATEGORY USING(BCODE)
		WHERE B_STATUS='Y'
	<if test="keyword == null">		
		ORDER BY B_VIEWS DESC
	</if>
	<if test="keyword != null">
		AND BNAME=#{keyword}
		ORDER BY B_VIEWS DESC
	</if>
	</select>
	<select id="selectList3" resultMap="BlogResultSet">
		SELECT *
		FROM BLOG_LIST
		JOIN BCATEGORY USING(BCODE)
		WHERE B_STATUS='Y'
	<if test="keyword == null">		
		ORDER BY B_LIKES DESC
	</if>
	<if test="keyword != null">
		AND BNAME=#{keyword}
		ORDER BY B_LIKES DESC
	</if>
	</select>
	
	<insert id="insertMyReview">
		INSERT INTO MY_REVIEW VALUES(#{bWriter},SEQ_BNO.CURRVAL)
	</insert> 
	 
	<select id="selectBlog" resultMap="BlogResultSet">
		SELECT *
		FROM BLOG_LIST
		JOIN BCATEGORY USING(BCODE)
		WHERE B_STATUS='Y' AND BID=#{bId}	
	</select>
	
	<select id="getSearchListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BLOG_LIST
		JOIN BCATEGORY USING(BCODE)
		WHERE B_STATUS='Y' AND
		REGEXP_LIKE(
        UPPER(BTITLE||BADDRESS||BADDRESSH||BCONTENT
		||BNAME||BTRANS||BWRITER),UPPER(#{searchVal}))
		ORDER BY BID DESC
	</select>
	
	<select id="getFile" resultMap="BFileResultSet">
		SELECT * FROM BLOG_FILES WHERE BID=#{bId}
	</select>
	
	<select id="selectSearchList" resultMap="BlogResultSet">
		SELECT *
		FROM BLOG_LIST
		JOIN BCATEGORY USING(BCODE)
		WHERE B_STATUS='Y' AND
		REGEXP_LIKE(
        UPPER(BTITLE||BADDRESS||BADDRESSH||BCONTENT
		||BNAME||BTRANS||BWRITER),UPPER(#{searchVal}))
		ORDER BY BID DESC
	</select>
	
	<update id="updateCount">
		UPDATE BLOG_LIST SET B_VIEWS = B_VIEWS + 1	WHERE BID = #{bId}
	</update>
	
	<update id="updateLike">
		<if test="lv == 0">
		UPDATE BLOG_LIST SET B_LIKES = B_LIKES - 1 WHERE BID= TO_NUMBER(#{bId})
		</if>
		<if test="lv == 1">
		UPDATE BLOG_LIST SET B_LIKES = B_LIKES + 1 WHERE BID= TO_NUMBER(#{bId})
		</if>
	</update>
	
	<update id="updateBlog">
		UPDATE BLOG_LIST SET BTITLE=#{bTitle},BCONTENT=#{bContent},BADDRESS=NVL(#{bAddress},' '),
		BADDRESSH=NVL(#{bAddressH},' '),B_MODIFY_DATE=SYSDATE,BTEL=NVL(#{bTel},' '),BFEE=NVL(#{bFEE},' '),BHOURS
		=NVL(#{bHours},' '),BTRANS=NVL(#{bTrans},' '),BCODE=#{bCode} WHERE BID=#{b.bId}
	</update>
	
	<update id="deleteBlog">
		UPDATE BLOG_LIST SET B_STATUS='N' WHERE BID=#{bId}
	</update>
	
</mapper>