<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myPageMapper">
	<resultMap type="Theme" id="myResultSet">
		<id property="tId" column="TID"/>		
		<result property="tWriter" column="TWRITER" />
		<result property="tTitle" column="TTITLE" />
		<result property="tContent" column="TCONTENT" />
		<result property="tAddress" column="TADDRESS" />
		<result property="tAddressH" column="TADDRESSH" />
		<result property="tCreateDate" column="T_CREATE_DATE" />
		<result property="tModifyDate" column="T_MODIFY_DATE" />
		<result property="tViews" column="T_VIEWS" />
		<result property="tLikes" column="T_LIKES" />
		<result property="tKeyword" column="TKEYWORD" />
		<result property="tStatus" column="T_STATUS" />
		<result property="tCode" column="TCODE" />
		<result property="tOriginalFile" column="T_ORIGINAL_FILE"/>
		<result property="tModifyFile" column="T_MODIFY_FILE"/>
		<result property="tName" column="TNAME"/>
		
		<collection property="tFileList" javaType="java.util.ArrayList" resultMap="myFileResultSet"/>
	</resultMap>
	
	<resultMap type="Blog" id="BlogResultSet">
	 <id property="bId" column="BID"/>
	 
	 <result property="bWriter" column="BWRITER" />
	 <result property="bTitle" column="BTITLE" />
	 <result property="bContent" column="BCONTENT" />
	 <result property="bAddress" column="BADDRESS" />
	 <result property="bAddressH" column="BADDRESSH" />
	 <result property="bCreateDate" column="B_CREATE_DATE" />
	 <result property="bModifyDate" column="B_MODIFY_DATE" />
	 <result property="bViews" column="B_VIEWS" />
	 <result property="bLikes" column="B_LIKES" />
	 <result property="bStatus" column="B_STATUS" />
	 <result property="bCode" column="BCODE" />
	 <result property="bOriginalFile" column="B_ORIGINAL_FILE"/>
	 <result property="bModifyFile" column="B_MODIFY_FILE"/>
	 <result property="category" column="BNAME"/>
	 <result property="bTel" column="BTEL"/>
	 <result property="bFee" column="BFEE"/>
	 <result property="bHours" column="BHOURS"/>
	 <result property="bTrans" column="BTRANS"/>
	 <result property="bTag" column="BTAG"/>
	 
	</resultMap>
	
	
	<resultMap type="TFile" id="myFileResultSet">
		<id property="tCodeNumber" column="T_CODE_NUMBER"/>
		
		<result property="tOriginalFile" column="T_ORIGINAL_FILE"/>
		<result property="tModifyFile" column="T_MODIFY_FILE"/>	
	</resultMap>
	
	<select id="getMyListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM THEME_LIKES 
		JOIN THEME_LIST ON(T_CODE_NUM = TID)
		JOIN THEME_FILES ON(TID = T_CODE_NUMBER)
		JOIN THEME_CODE USING(TCODE)
		WHERE MID = #{mId} AND T_STATUS = 'Y'
	</select>
	
	<select id="selectMyList" resultMap="myResultSet">		
		SELECT TID,TWRITER,TTITLE,TCONTENT,TADDRESS,TADDRESSH,T_CREATE_DATE,
			   T_MODIFY_DATE,T_VIEWS,T_LIKES,TKEYWORD,T_STATUS,TCODE,TTEL,TFEE,
			   THOURS,TTRANS,T_CODE_NUMBER,T_ORIGINAL_FILE,T_MODIFY_FILE,TNAME,TCOUNT,TLIKE
		FROM THEME_LIKES 
		JOIN THEME_LIST ON(T_CODE_NUM = TID)
		JOIN THEME_FILES ON(TID = T_CODE_NUMBER)
		JOIN THEME_CODE USING(TCODE)		
		WHERE MID = #{mId} AND T_STATUS = 'Y'
		ORDER BY TID DESC
	</select>

	<select id="getListCountReview" resultType="_int">
		SELECT COUNT(*)
		FROM MY_REVIEW
		JOIN BLOG_LIST USING(BWRITER,BID)
		WHERE B_STATUS='Y' AND BWRITER=#{bWriter}
	</select>
	
	<select id="selectReviewList" resultMap="BlogResultSet">
		SELECT *
		FROM BLOG_LIST
		JOIN MY_REVIEW USING(BWRITER,BID)
		JOIN BCATEGORY USING(BCODE)
		WHERE B_STATUS='Y' AND BWRITER=#{bWriter}
	</select>
</mapper>