<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qnaMapper">
	<resultMap id="qnaResultSet" type="QnA">
	 <id property="qId" column="QID"/>
	 
	 <result property="qTitle" column="QTITLE" />
	 <result property="qContent" column="QCONTENT" />
	 <result property="tWriter" column="TWRITER" />
	 <result property="qCreateDate" column="Q_CREATE_DATE" />
	 <result property="qAnswerDate" column="Q_ANSWER_DATE" />
	 <result property="qStatus" column="Q_STATUS" />
	</resultMap>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM QNA
	</select>
		
	<select id="selectList" resultMap="qnaResultSet">
		SELECT *
		FROM QNA 
		ORDER BY QID DESC
	</select>
	
	<select id="selectBoard" resultMap="qnaResultSet">
		SELECT *
		FROM QNA
		WHERE QID=#{qId}
	</select>
</mapper>