<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qnaMapper">
	<resultMap id="qnaResultSet" type="QnA">
	 <id property="qId" column="QID"/>
	 
	 <result property="qTitle" column="QTITLE" />
	 <result property="qContent" column="QCONTENT" />
	 <result property="tWriter" column="TWRITER" />
	 <result property="qCreateDate" column="Q_CREATE_DATE" />
	 <result property="qAnswerDate" column="Q_ANSWER_DATE" />
	 <result property="qStatus" column="Q_STATUS" />
	</resultMap>
	
	<resultMap id="replyResultSet" type="QnaReply">
		<id property="rId" column="RID"/>
		<result property="rContent" column="RCONTENT"/>
		<result property="refQid" column="REF_BID"/>
		<result property="rWriterNickname" column="RWRITER"/>
		<result property="rCreateDate" column="R_CREATE_DATE"/>
		<result property="rModifyDate" column="R_MODIFY_DATE"/>
		<result property="rStatus" column="R_STATUS"/>
	</resultMap>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM QNA
	</select>
		
	<select id="selectList" resultMap="qnaResultSet">
		SELECT *
		FROM QNA 
		ORDER BY QID DESC
	</select>
	
	<select id="selectBoard" resultMap="qnaResultSet">
		SELECT *
		FROM QNA
		WHERE QID=#{qId}
	</select>
	
	<insert id="writeBoard" parameterType="QnA">
		INSERT INTO QNA 
		VALUES(SEQ_QID.NEXTVAL,#{qTitle},#{qContent},#{qWriter},
		SYSDATE,DEFAULT,DEFAULT)
	</insert>
	
	<update id="updateBoard" parameterType="QnA">
		UPDATE QNA
		SET QTITLE=#{qTitle},QCONTENT=#{qContent}			
		WHERE QID=#{qId}
	</update>
	
	<delete id="deleteBoard">
		DELETE FROM QNA WHERE QID=#{qId}
	</delete>
	
	<select id="selectReplyList" resultMap="replyResultSet">
		SELECT *
		FROM REPLY
		WHERE REF_QID=#{qId}
		AND R_STATUS='Y'
		ORDER BY RID DESC
	</select>
	
	<!--  -->
	<select id="getSearchQnaDataTotal" resultType="_int" parameterType="hashMap">
		SELECT COUNT(*)
		<choose>
			<when test="search1 == 'ALL'">	
			FROM QNA
				<if test="search2 == 'TITLE'">
					where QTITLE LIKE '%' || #{search3} || '%'
				</if>
				<if test="search2 == 'QWRITER'">
					where QWRITER LIKE '%' || #{search3} || '%'
				</if>
			</when>
			<otherwise>
				FROM QNA
				WHERE Q_STATUS = #{search1}
				<if test="search2 == 'TITLE'">
					AND QTITLE LIKE '%' || #{search3} || '%'
				</if>
				<if test="search2 == 'QWRITER'">
					AND QWRITER LIKE '%' || #{search3} || '%'
				</if>
			</otherwise>
		</choose>
	</select>
	
	<!--  -->
	<select id="getSearchQnaData" resultMap="qnaResultSet" parameterType="hashMap">
		SELECT *
		<choose>
			<when test="search1 == 'ALL'">	
			FROM QNA
				<if test="search2 == 'TITLE'">
					where QTITLE LIKE '%' || #{search3} || '%'
				</if>
				<if test="search2 == 'QWRITER'">
					where QWRITER LIKE '%' || #{search3} || '%'
				</if>
			</when>
			<otherwise>
				FROM QNA
				WHERE Q_STATUS = #{search1}
				<if test="search2 == 'TITLE'">
					AND QTITLE LIKE '%' || #{search3} || '%'
				</if>
				<if test="search2 == 'QWRITER'">
					AND QWRITER LIKE '%' || #{search3} || '%'
				</if>
			</otherwise>
		</choose>
	</select>	
	
</mapper>