<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recomMapper">
	<resultMap type="Recom" id="recomResultSet">
		<id property="recomCode" column="RQCODE"/>
		<result property="recomContent" column="RQCONTENT"/>
		<result property="keyword1" column="RQKEYWORD1"/>
		<result property="keyword1Content" column="KEYWORD1_CONTENT"/>
		<result property="keyword2" column="RQKEYWORD2"/>
		<result property="keyword2Content" column="KEYWROD2_CONTENT"/>
		<result property="rStatus" column="R_STATUS"/>
	</resultMap>
	
	<resultMap type="ThemeVo" id="themeResultSet">
		<id property="tid" column="TID"/>
		<result property="ttitle" column="TTITLE"/>
		<result property="tcode" column="TCODE"/>
		<result property="tname" column="TNAME"/>
		<result property="tstatus" column="T_STATUS"/>
		<result property="tfile" column="T_MODIFY_FILE"/>
	</resultMap>
	
	<select id="selectQA" resultMap="recomResultSet">
		SELECT *
		FROM RECOMMEND_Q
		WHERE R_STATUS='Y'
		ORDER BY RQCODE ASC
	</select>
	
	<select id="selectFirst" resultMap="recomResultSet">
		SELECT RQCODE, RQCONTENT, RQKEYWORD1, KEYWORD1_CONTENT,
			RQKEYWORD2, KEYWROD2_CONTENT, R_STATUS
		FROM (SELECT ROWNUM, R.*
		        FROM RECOMMEND_Q R
		        WHERE R_STATUS='Y'
		        ORDER BY RQCODE ASC)
		WHERE ROWNUM = '1'
	</select>
	
	<select id="selectNum" parameterType="_int" resultMap="recomResultSet">
		<![CDATA[
		select RQCODE, RQCONTENT, RQKEYWORD1, KEYWORD1_CONTENT,
			RQKEYWORD2, KEYWROD2_CONTENT, R_STATUS
		from (select *
		        from (select ROWNUM, R.*
		                from RECOMMEND_Q R
		                WHERE R_STATUS='Y'
		                ORDER BY RQCODE ASC)
		        WHERE ROWNUM <= #{ recomNum }
		        ORDER BY ROWNUM DESC)
		WHERE ROWNUM=1
		]]>
	</select>
	
	<update id="deleteQA">
		UPDATE RECOMMEND_Q SET R_STATUS='N'
		WHERE RQCODE=#{ recomCode }
	</update>
	
	<select id="lastRQCODE" resultType="string">
		SELECT MAX(RQCODE) RQCODE
		FROM RECOMMEND_Q
	</select>
	
	<insert id="insertRQ">
		INSERT INTO RECOMMEND_Q
		VALUES ( #{recomCode}, #{recomContent}, #{keyword1}, #{keyword1Content}, #{keyword2}, #{keyword2Content}, DEFAULT )
	</insert>
	
	<update id="updateUserRecom">
		UPDATE MEMBER
		SET RECOMMEND = #{ recommend }
		WHERE MID = #{ mid }
	</update>
	
	<select id="selectListTheme" resultMap="themeResultSet">
		<![CDATA[
		SELECT *
		FROM (SELECT L.TID, L.TTITLE, L.TCODE, C.TNAME, L.T_STATUS, F.T_MODIFY_FILE
		FROM THEME_LIST L
		LEFT JOIN THEME_CODE C ON(L.TCODE = C.TCODE)
		JOIN THEME_FILES F ON(L.TID = F.T_CODE_NUMBER)
		WHERE L.T_STATUS = 'Y'
		    AND L.TCODE=#{ tcode }
		    AND (L.TKEYWORD like '%' || #{ keywords.keyword1 } || '%')
		    AND (L.TKEYWORD like '%' || #{ keywords.keyword2 } || '%')
		    AND (L.TKEYWORD like '%' || #{ keywords.keyword3 } || '%')
		    AND (L.TKEYWORD like '%' || #{ keywords.keyword4 } || '%')
		    AND (L.TKEYWORD like '%' || #{ keywords.keyword5 } || '%')
		ORDER BY L.T_CREATE_DATE DESC)
		WHERE ROWNUM <= 3
		]]>
	</select>

	<select id="listCount" resultType="_int">
		SELECT COUNT(*)
		FROM THEME_LIST
		WHERE T_STATUS = 'Y'
			AND TCODE=#{ tcode }
			AND (TKEYWORD like '%' || #{ keywords.keyword1 } || '%')
		    AND (TKEYWORD like '%' || #{ keywords.keyword2 } || '%')
		    AND (TKEYWORD like '%' || #{ keywords.keyword3 } || '%')
		    AND (TKEYWORD like '%' || #{ keywords.keyword4 } || '%')
		    AND (TKEYWORD like '%' || #{ keywords.keyword5 } || '%')
	</select>
	
	<select id="selectMoreList" resultMap="themeResultSet">
		SELECT L.TID, L.TTITLE, L.TCODE, C.TNAME, L.T_STATUS, F.T_MODIFY_FILE
		FROM THEME_LIST L
		LEFT JOIN THEME_CODE C ON(L.TCODE = C.TCODE)
		JOIN THEME_FILES F ON(L.TID = F.T_CODE_NUMBER)
		WHERE L.T_STATUS = 'Y'
		    AND L.TCODE=#{ tcode }
		    AND (L.TKEYWORD like '%' || #{ keywords.keyword1 } || '%')
		    AND (L.TKEYWORD like '%' || #{ keywords.keyword2 } || '%')
		    AND (L.TKEYWORD like '%' || #{ keywords.keyword3 } || '%')
		    AND (L.TKEYWORD like '%' || #{ keywords.keyword4 } || '%')
		    AND (L.TKEYWORD like '%' || #{ keywords.keyword5 } || '%')
		ORDER BY L.T_CREATE_DATE DESC
	</select>

</mapper>