<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recomMapper">
	<resultMap type="Recom" id="recomResultSet">
		<id property="recomCode" column="RQCODE"/>
		<result property="recomContent" column="RQCONTENT"/>
		<result property="keyword1" column="RQKEYWORD1"/>
		<result property="keyword1Content" column="KEYWORD1_CONTENT"/>
		<result property="keyword2" column="RQKEYWORD2"/>
		<result property="keyword2Content" column="KEYWROD2_CONTENT"/>
		<result property="rStatus" column="R_STATUS"/>
	</resultMap>
	
	<resultMap type="Theme" id="themeResultSet">
		<id property="tId" column="TID"/>
		<result property="tWriter" column="TWRITER" />
		<result property="tTitle" column="TTITLE" />
		<result property="tContent" column="TCONTENT" />
		<result property="tAddress" column="TADDRESS" />
		<result property="tAddressH" column="TADDRESSH" />
		<result property="tCreateDate" column="T_CREATE_DATE" />
		<result property="tModifyDate" column="T_MODIFY_DATE" />
		<result property="tViews" column="T_VIEWS" />
		<result property="tLikes" column="T_LIKES" />
		<result property="tKeyword" column="TKEYWORD" />
		<result property="tStatus" column="T_STATUS" />
		<result property="tCode" column="TCODE" />
		<result property="tName" column="TNAME"/>
		<result property="tTel" column="TTEL"/>
		<result property="tFee" column="TFEE"/>
		<result property="tHours" column="THOURS"/>
		<result property="tTrans" column="TTRANS"/>
	</resultMap>
	
	<select id="selectQA" resultMap="recomResultSet">
		SELECT *
		FROM RECOMMEND_Q
		WHERE R_STATUS='Y'
		ORDER BY RQCODE ASC
	</select>
	
	<select id="selectFirst" resultMap="recomResultSet">
		SELECT RQCODE, RQCONTENT, RQKEYWORD1, KEYWORD1_CONTENT,
			RQKEYWORD2, KEYWROD2_CONTENT, R_STATUS
		FROM (SELECT ROWNUM, R.*
		        FROM RECOMMEND_Q R
		        WHERE R_STATUS='Y'
		        ORDER BY RQCODE ASC)
		WHERE ROWNUM = '1'
	</select>
	
	<select id="selectNum" parameterType="_int" resultMap="recomResultSet">
		<![CDATA[
		select RQCODE, RQCONTENT, RQKEYWORD1, KEYWORD1_CONTENT,
			RQKEYWORD2, KEYWROD2_CONTENT, R_STATUS
		from (select *
		        from (select ROWNUM, R.*
		                from RECOMMEND_Q R
		                WHERE R_STATUS='Y'
		                ORDER BY RQCODE ASC)
		        WHERE ROWNUM <= #{ recomNum }
		        ORDER BY ROWNUM DESC)
		WHERE ROWNUM=1
		]]>
	</select>
	
	<update id="deleteQA">
		UPDATE RECOMMEND_Q SET R_STATUS='N'
		WHERE RQCODE=#{ recomCode }
	</update>
	
	<select id="lastRQCODE" resultType="string">
		SELECT MAX(RQCODE) RQCODE
		FROM RECOMMEND_Q
	</select>
	
	<insert id="insertRQ">
		INSERT INTO RECOMMEND_Q
		VALUES ( #{recomCode}, #{recomContent}, #{keyword1}, #{keyword1Content}, #{keyword2}, #{keyword2Content}, DEFAULT )
	</insert>
	
	<update id="updateUserRecom">
		UPDATE MEMBER
		SET RECOMMEND = #{ recommend }
		WHERE MID = #{ mid }
	</update>
	
	<select id="selectListTheme" parameterType="string" resultMap="themeResultSet">
		SELECT TID, TTITLE
		FROM THEME_LIST
		WHERE TCODE = #{ tCode } AND T_STATUS = 'Y'
	</select>


</mapper>