<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="themeStatisticsMapper">
	<resultMap type="Statistics" id="themeStatisticsResult">
		 
		 <result property="number" column="TCODE" />
		 <result property="columnAddressName" column="TADDRESSH" />
		 <result property="columnAddressNumber" column="ColumnAddressNumber" />
		 <result property="columnTnameName" column="TNAME" />
		 <result property="columnTnameNumber" column="ColumnTnameNumber" />
		 <result property="columnTKeywordName" column="TKeyworTNAME" />
		 <result property="columnTKeywordNumber" column="ColumnTKeywordNumber" />
		 
		 <result property="columnTlikeName" column="T_LIKES" />
		 <result property="columnTlikeValue" column="value1" />
		 
		  <result property="columnTviewsName" column="T_VIEWS" />
		  <result property="columnTviewsValue" column="value2" />
		 
	</resultMap>

	<select id="AllStatistic" resultMap="themeStatisticsResult">
<!-- 		
		SELECT TADDRESS, SUM(T_LIKES) as ColumnAddressNumber
		FROM THEME_LIST
		JOIN THEME_CODE USING(TCODE)
		GROUP BY  TADDRESS
		ORDER BY ColumnAddressNumber DESC 
--><!-- SUBSTR(TADDRESSH, 4, INSTR(TADDRESSH, '구')-2) AS  -->
		<if test="columnTlikeName == 'T_LIKES'">
			SELECT SUBSTR(TADDRESSH, 4, INSTR(TADDRESSH, '구')-2) AS TADDRESSH, SUM(T_LIKES) as ColumnAddressNumber
			FROM THEME_LIST
			JOIN THEME_CODE USING(TCODE)
			GROUP BY  TADDRESSH
			ORDER BY ColumnAddressNumber DESC
		</if>
		<if test="columnTlikeName == 'T_VIEWS'">
			SELECT SUBSTR(TADDRESSH, 4, INSTR(TADDRESSH, '구')-2) AS TADDRESSH, SUM(T_VIEWS) as ColumnAddressNumber
			FROM THEME_LIST
			JOIN THEME_CODE USING(TCODE)
			GROUP BY  TADDRESSH
			ORDER BY ColumnAddressNumber DESC 
		</if>
		
	</select>

	<!-- StatisticAjax : 좋아요/조회수 비동기 처리식에 적용 하는 sql-->
	<select id="StatisticAjax" resultMap="themeStatisticsResult">

		<if test="columnTlikeName == 'T_LIKES'">
			<if test="columnAddressName != null"><!-- TADDRESS -->
				SELECT SUBSTR(TADDRESSH, 4, INSTR(TADDRESSH, '구')-2) AS TADDRESSH, SUM(T_LIKES) as ColumnAddressNumber
			</if>
			<if test="columnTnameName != null"><!-- TNAME -->
				SELECT TNAME, SUM(T_LIKES) as ColumnTnameNumber
			</if>
		</if>
		<if test="columnTviewsName == 'T_VIEWS'">
		
			<if test="columnAddressName != null">
				SELECT SUBSTR(TADDRESSH, 4, INSTR(TADDRESSH, '구')-2) AS TADDRESSH, SUM(T_VIEWS) as ColumnAddressNumber
			</if>
			<if test="columnTnameName != null">
				SELECT TNAME, SUM(T_VIEWS) as ColumnTnameNumber
			</if>
		</if>
		FROM THEME_LIST
		JOIN THEME_CODE USING(TCODE)
		<if test="columnAddressName == 'TADDRESS'">
				GROUP BY TADDRESSH
				ORDER BY ColumnAddressNumber DESC
		</if>
		<if test="columnTnameName == 'TNAME'">
				GROUP BY TNAME
				ORDER BY ColumnTnameNumber DESC
		</if>
	</select>

<!-- 검색 키워드 밴 상단 버튼 클릭시에 데이터를 가져오는 쿼리 -->
	<select id="SearchAreaSaCount" resultMap="themeStatisticsResult">
		SELECT AREA as TADDRESSH, SUM(SA_COUNT) as ColumnAddressNumber
    	FROM SEARCH_AREA
    	GROUP BY AREA
    	ORDER BY ColumnAddressNumber DESC
	</select>

<!-- AJAX를 이용하여 검색 키워드의 주소/테마를 가져오는 쿼리 -->
	<select id="StatisticAjaxSaCount" resultMap="themeStatisticsResult">
		<if test="columnAddressName != null"><!-- TADDRESS -->
			SELECT AREA as TADDRESSH, SUM(SA_COUNT) as ColumnAddressNumber
		    FROM SEARCH_AREA
		    GROUP BY AREA
		    ORDER BY ColumnAddressNumber DESC
		</if>
		<if test="columnTnameName != null"><!-- TNAME -->
			SELECT TNAME, SUM(ST_COUNT) as ColumnTnameNumber
			FROM SEARCH_THEME
			JOIN THEME_CODE USING(TCODE)
			GROUP BY TNAME
			ORDER BY ColumnTnameNumber DESC
		</if>
	</select>
	
	<!-- 1. 전체 회원 가입 남/여 비율  -->
	<!-- 객체를 변경 하지 않고 그냥  TKeyworTNAME/ColumnTKeywordNumber으로 값을 받아오는 것으로 대체한다.-->
	<select id="list_1" resultMap="themeStatisticsResult">
		SELECT GENDER AS TKeyworTNAME, COUNT(*) AS ColumnTKeywordNumber
		FROM MEMBER
		GROUP BY GENDER
	</select>
	
	<select id="list_2" resultMap="themeStatisticsResult">
<!-- 		SELECT TKEYWORD as TKeyworTNAME, COUNT(TKEYWORD) AS ColumnTKeywordNumber
		FROM THEME_LIST
		JOIN THEME_CODE USING(TCODE)
		WHERE TCODE = #{number}
		GROUP BY TKEYWORD -->
		SELECT NVL2(TKEYWORD, TKEYWORD,'notSelectTKeyworTNAME') as TKeyworTNAME, COUNT(TCODE) AS ColumnTKeywordNumber
		FROM THEME_LIST
		JOIN THEME_CODE USING(TCODE)
		WHERE TCODE = #{number}
		GROUP BY TKEYWORD
	</select>
	
	<select id="list_3" resultMap="themeStatisticsResult">
		SELECT NVL2(TKEYWORD, TKEYWORD,'notSelectTKeyworTNAME') as TKeyworTNAME, SUM(T_VIEWS) AS value2, SUM(T_LIKES) AS value1
		FROM THEME_LIST
		JOIN THEME_CODE USING(TCODE)
		WHERE TCODE = #{number}
		GROUP BY TKEYWORD
	</select>
	
</mapper>

    