<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="themeStatisticsMapper">
	<resultMap type="Statistics" id="themeStatisticsResult">
		 
		 <result property="number" column="TCODE" />
		 <result property="columnAddressName" column="TADDRESS" />
		 <result property="columnAddressNumber" column="ColumnAddressNumber" />
		 <result property="columnTnameName" column="TNAME" />
		 <result property="columnTnameNumber" column="ColumnTnameNumber" />
		 <result property="columnTKeywordName" column="TKEYWORD" />
		 <result property="columnTKeywordNumber" column="ColumnTKeywordNumber" />
		 <result property="registDate" column="T_MODIFY_DATE" />
		 
	</resultMap>

	<!-- 조아요. 장소에 대한 데이터를 가져온다. -->
	<select id="AllGoodStatistic" resultMap="themeStatisticsResult">
		SELECT TADDRESS, SUM(T_LIKES) as ColumnAddressNumber
		FROM THEME_LIST
		JOIN THEME_CODE USING(TCODE)
		GROUP BY  TADDRESS
		ORDER BY ColumnAddressNumber DESC
	</select>

</mapper>

    