<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="themeMapper">
	<resultMap type="Theme" id="themeResultSet">
	 <id property="tId" column="TID"/>
	 
	 <result property="tWriter" column="TWRITER" />
	 <result property="tTitle" column="TTITLE" />
	 <result property="tContent" column="TCONTENT" />
	 <result property="tAddress" column="TADDRESS" />
	 <result property="tAddressH" column="TADDRESSH" />
	 <result property="tCreateDate" column="T_CREATE_DATE" />
	 <result property="tModifyDate" column="T_MODIFY_DATE" />
	 <result property="tViews" column="T_VIEWS" />
	 <result property="tLikes" column="T_LIKES" />
	 <result property="tKeyword" column="TKEYWORD" />
	 <result property="tStatus" column="T_STATUS" />
	 <result property="tCode" column="TCODE" />
	 <result property="tOriginalFile" column="T_ORIGINAL_FILE"/>
	 <result property="tModifyFile" column="T_MODIFY_FILE"/>
	 <result property="tName" column="TNAME"/>
	 <result property="tTel" column="TTEL"/>
	 <result property="tFee" column="TFEE"/>
	 <result property="tHours" column="THOURS"/>
	 <result property="tTrans" column="TTRANS"/>
	 
	 
	</resultMap>
	
	<resultMap type="TReply" id="themeReplyResultSet">
		<id property="trId" column="TRID"/>
		
		<result property="trId" column="TRID"/>
		<result property="trContent" column="TRCONTENT"/>
		<result property="refTid" column="REF_TID"/>
		<result property="trWriter" column="TRWIRTER"/>
		<result property="trCreateDate" column="TR_CREATE_DATE"/>
		<result property="trModifyDate" column="TR_MODIFY_DATE"/>
		<result property="trStatus" column="TR_STATUS"/>
	
	</resultMap>
	
	<resultMap type="TFile" id="themeFileResultSet">
		<id property="tCodeNumber" column="T_CODE_NUMBER"/>
		
		<result property="tOriginalFile" column="T_ORIGINAL_FILE"/>
		<result property="tModifyFile" column="T_MODIFY_FILE"/>
	
	</resultMap>
	
	<resultMap type="TName" id="themeNameResultSet">
		<id property="tCode" column="TCODE" />
		
		<result property="tName" column="TNAME"/>	
	</resultMap>
		
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM THEME_LIST
		JOIN THEME_CODE USING(TCODE)
		<if test="keyword == null">
		WHERE T_STATUS='Y'
		</if>
		<if test="keyword != null">
		WHERE TNAME LIKE UPPER('%'||#{keyword}||'%')
		</if>
	</select>
	
	<select id="selectList" resultMap="themeResultSet">		
		SELECT *
		FROM THEME_LIST 
		JOIN THEME_CODE USING(TCODE)
		JOIN THEME_FILES ON(TID=T_CODE_NUMBER)
		<if test="keyword == null">
		WHERE T_STATUS='Y'
		</if>
		<if test="keyword != null">
		WHERE (TNAME||TTITLE||TADDRESS||TADDRESSH||TKEYWORD||TCONTENT) 
		LIKE UPPER('%'||#{keyword}||'%')
		</if>
		<choose>
			<when test="searchValue == 2">ORDER BY TO_NUMBER(TO_CHAR(T_MODIFY_DATE,'YYMMDD')) DESC</when>
			<when test="searchValue == 3">ORDER BY T_LIKES DESC</when>
			<otherwise>ORDER BY TID DESC</otherwise>
		</choose>
	</select>
	
	<insert id="insertTheme" parameterType="Theme">
		INSERT INTO THEME_LIST VALUES(SEQ_TNO.NEXTVAL,#{tWriter},#{tTitle},
		#{tContent},#{tAddress},#{tAddressH},DEFAULT,DEFAULT,DEFAULT,DEFAULT,
		#{tKeyword},DEFAULT,#{tCode},NVL(#{tTel},' '),NVL(#{tFee},' '),NVL(#{tHours},' '),NVL(#{tTrans},' '))
	</insert>
	
	<insert id="insertImg" parameterType="TFile">
		INSERT INTO THEME_FILES VALUES(#{tCodeNumber},#{tOriginalFile},#{tModifyFile})
	</insert>
	
	<select id="selectTheme" resultMap="themeResultSet">
		SELECT * 
		FROM THEME_LIST
		JOIN THEME_CODE USING(TCODE)
		JOIN THEME_FILES ON(TID=T_CODE_NUMBER)
		WHERE TID=#{tId}	
	</select>
	
	<select id="getTNum" resultType="_int">
		SELECT LAST_NUMBER FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'SEQ_TNO'
	</select>
	
	<select id="getTCount" resultType="_int">
		SELECT COUNT(*) FROM THEME_FILES WHERE T_CODE_NUMBER = #{tCodeNumber}
	</select>
	
	<update id="updateImg" parameterType="TFile">
		UPDATE THEME_FILES SET T_ORIGINAL_FILE 
		= T_ORIGINAL_FILE ||','|| #{tOriginalFile}, 
		T_MODIFY_FILE = T_MODIFY_FILE ||','|| #{tModifyFile}
		WHERE T_CODE_NUMBER = #{tCodeNumber}
	</update>
	
	<select id="checkFile" resultType="_int">
		SELECT COUNT(*) FROM THEME_FILES WHERE T_CODE_NUMBER = #{tNum}
	</select>
	
	<update id="updateViewCount">
		UPDATE THEME_LIST SET T_VIEWS = T_VIEWS + 1	WHERE TID = #{tId}
	</update>
	
	<update id="updateTagCount">
		UPDATE THEME_CODE 
		SET TCOUNT = TCOUNT + 1
		WHERE TCODE = (SELECT TCODE FROM THEME_LIST WHERE TID = #{tID})
	</update>
	
	<select id="findKeywordArea" resultType="string">
		SELECT AREA
		FROM SEARCH_AREA
		WHERE AREA LIKE UPPER('%'||#{keyword}||'%')
	</select>
	
	<select id="findKeywordTheme" resultType="string">
		SELECT TCODE 
		FROM SEARCH_THEME
		JOIN THEME_CODE USING(TCODE)
		WHERE TNAME LIKE UPPER('%'||#{keyword}||'%') 
	</select>
	
	<update id="updateCountKwT">
		UPDATE SEARCH_THEME SET ST_COUNT = ST_COUNT + 1 WHERE TCODE = #{key}
	</update>
	
	<update id="updateCountKwA">
		UPDATE SEARCH_AREA SET SA_COUNT = SA_COUNT + 1 WHERE AREA = #{key}
	</update>
	
	<insert id="insertTReply">
		INSERT INTO THEME_REPLY VALUES
		(SEQ_TRNO.NEXTVAL,#{trContent},#{refTid},#{trWriter},DEFAULT,DEFAULT,DEFAULT)
	</insert>
	
	<select id="selectTReplyList" resultMap="themeReplyResultSet" parameterType="TReply">
		SELECT * 
		FROM THEME_REPLY 
		WHERE REF_TID = #{tId} AND TR_STATUS = 'Y'
		ORDER BY TRID DESC
	</select>
	
	<select id="getKeyword" resultType="string">
		WITH TEMP_TABLE AS(
		SELECT RQKEYWORD1 FROM RECOMMEND_Q WHERE R_STATUS='Y' UNION ALL
		SELECT RQKEYWORD2 FROM RECOMMEND_Q WHERE R_STATUS='Y')
		SELECT LISTAGG(RQKEYWORD1,',') WITHIN GROUP (ORDER BY ROWNUM) TKEYWORD FROM TEMP_TABLE
	</select>
	
	<update id="updateTheme" parameterType="Theme">
		UPDATE THEME_LIST SET TTITLE=#{tTitle},TCONTENT=#{tContent},TADDRESS=#{tAddress},
		TADDRESSH=#{tAddressH},T_MODIFY_DATE=SYSDATE,TKEYWORD=#{tKeyword},TCODE=#{tCode},TTEL=NVL(#{tTel},' '),
		TFEE=NVL(#{tFee},' '),THOURS=NVL(#{tHours},' '),TTRANS=NVL(#{tTrans},' ') WHERE TID=#{tId} 
	</update>
	
	<!-- Like -->
	<update id="updateLike">
		<if test="lv == 0">
		UPDATE THEME_LIST SET T_LIKES = T_LIKES - 1 WHERE TID= TO_NUMBER(#{tId})
		</if>
		<if test="lv == 1">
		UPDATE THEME_LIST SET T_LIKES = T_LIKES + 1 WHERE TID= TO_NUMBER(#{tId})
		</if>
	</update>
	
	<update id="updateThemeLikeCount">
		<if test="lv == 0">
		UPDATE THEME_CODE SET TLIKE= TLIKE - 1 WHERE TCODE=#{tCode}
		</if>
		<if test="lv == 1">
		UPDATE THEME_CODE SET TLIKE= TLIKE + 1 WHERE TCODE=#{tCode}
		</if>
	</update>
	
	<insert id="insertMyLike" parameterType="map">
		INSERT INTO THEME_LIKES VALUES((
		SELECT MID FROM MEMBER WHERE NICKNAME=#{loginUser}),TO_NUMBER(#{tId}))
	</insert>
	
	<select id="checkLike" resultType="_int">
		SELECT COUNT(*) FROM THEME_LIKES 
		WHERE MID = (SELECT MID 
					FROM MEMBER 
					WHERE NICKNAME=#{loginUser})
        AND T_CODE_NUM = TO_NUMBER(#{tId})
	</select>
	
	<select id="selectStatus" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM THEME_LIKES 
		WHERE T_CODE_NUM = TO_NUMBER(#{tId}) AND 
		MID = (SELECT MID 
			   FROM MEMBER 
			   WHERE NICKNAME=#{loginUser}) 
	</select>
	
	<delete id="deleteMyLike">
		DELETE FROM THEME_LIKES WHERE MID = 
		(SELECT MID FROM MEMBER WHERE NICKNAME=#{loginUser})
	</delete>
	
	<update id="deleteTheme">
		UPDATE THEME_LIST SET T_STATUS='N' WHERE TID=#{tId} 
	</update>
	
	<update id="deleteTReply">
		UPDATE THEME_REPLY SET TR_STATUS='N' WHERE TRID=#{trId}
	</update>
	
	<select id="getRandomListCount" resultType="_int"> 
		SELECT COUNT(*) 
		FROM THEME_LIST
		JOIN THEME_CODE USING(TCODE)
		WHERE T_STATUS='Y' AND
		TKEYWORD LIKE '%'||#{recommend}||'%'
		ORDER BY TID DESC
	</select>
	
	<select id="selectTkeywordList" resultMap="themeResultSet">
		SELECT * 
		FROM THEME_LIST
		JOIN THEME_CODE USING(TCODE)
		JOIN THEME_FILES ON(TID=T_CODE_NUMBER)
		WHERE T_STATUS='Y' AND
		TKEYWORD LIKE '%'||#{recommend}||'%'
		ORDER BY TID DESC
	</select>
</mapper>