<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.aligo.spring.theme.model.vo.Theme" alias="Theme"/>
		<typeAlias type="com.aligo.spring.theme.model.vo.TFile" alias="TFile"/>
		<typeAlias type="com.aligo.spring.theme.model.vo.TName" alias="TName"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/theme-mapper.xml"/>
	</mappers>
	
</configuration>