<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.aligo.spring.theme.model.vo.Theme" alias="Theme"/>
		<typeAlias type="com.aligo.spring.theme.model.vo.TFile" alias="TFile"/>
		<typeAlias type="com.aligo.spring.theme.model.vo.TName" alias="TName"/>
		<typeAlias type="com.aligo.spring.recom.model.vo.Recommend" alias="Recom"/>
		<typeAlias type="com.aligo.spring.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.aligo.spring.statistics.model.vo.Statistics" alias="Statistics"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/theme-mapper.xml"/>
		<mapper resource="mappers/recommend-mapper.xml"/>
		<mapper resource="mappers/main-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/statistics-mapper.xml"/>  
	</mappers>
	
</configuration>